
        *{
             font;color: #ffffff;
             font-size: 1rem;
             margin:0;
             padding:0;

        }
        button{
            border:0;
            background-color:rgb(95,192,205);
            outline: none;
        }
        input{
             border:0;
             outline: none;
             font;color: #000000;
           
          }
        body{
            background-color: rgb(239,240,244);
          }
     



    	div.header{
            
    		position: absolute;
            top: 0;
            right: 0;
    		height: 60px;
    		width: 100%;
    		background-color:rgb(95,192,205);
            text-align: center;
    	}
    	
    	button.zc{
            position: absolute;
            top: 20px;
            left: 3%;
            
    	}
    	p.dl{
               display: inline-block;
                margin-top: 20px;

    	}
    	button.qx{
            position: absolute;
            top: 20px;
            right: 3%;   	
    	}
        






        .main1{
            
            display: flex;
            margin-top: 70px;
            background-color: #ffffff;

        }
        .phone{
            
            float: left;
        }  
        .juxing{
            height: 52px;
            padding-top: 9px;
        } 
         .phonenum{
          width: 100%;
          padding-left: 5%;

        }






        .main2{
            display: flex;
            margin-top: 10px;
            background-color: #ffffff;
        } 
        .mima{
            float: left;
           
        }
        .juxing2{
            height: 52px;
            padding-top: 9px;
        }
        
        .password{
          float: right;
          width: 100%;
          padding-left: 5%;
         
        }
    
        




       div.btdl{

         position: absolute;
         top: 230px;
         height: 10%;
         width: 100%;
         
       }
       button.btdl2{
       
        
        background-color: rgb(95,192,205);
        border:0;
        height: 60px; 
        width:100%;     
       }





       p.wjmm{
        position: absolute;
        top: 295px;
        right: 5px;
      

       }
       a{color: rgb(95,192,205);}



      
       


    