


          body {
              margin: 0px;
              padding: 0px;
              background-image: url('images/background_01.jpg');
              color: #FFFFFF;
          }
          span{
              display: block;
              text-align: center;

          }

         .button1 {
             float: left;
             margin-top: 5px;
             clear: right;

         }

         .logo1{
             display: flex;
             justify-content:center ;
             padding-top: 15%;



               }
          .txt1 {
              display: flex;
              padding-top: 5px;
              justify-content: center;
          }

         .logo2{
            float: left;

             margin-left: 10%;
             margin-top: 20%;



         }


         .logo3{

             float: right;
             margin-right: 10%;
             margin-top: 20%;

         }

