        


      body {margin: 0;

            
           }

       div{  border:0px solid orange;
  	         width:30vw; 
  	         height: 30vw;
  	         background: orange;
             border-radius: 5%;
             margin: 1vw;
             float: right;
           }


     