


          body {
              margin: 0;
              padding: 0;
              background-image: url('images/background_01.jpg');
              color: #FFFFFF;

          }


          span{
              display: block;
              text-align: center;

          }

         .button1 {
             display: -webkit-flex;
             display: flex;
             justify-content: flex-start;
             margin-top: 5px;

         }

         .logo1{
             display: -webkit-flex;
             display: flex;
             justify-content:center ;
             align-items: center;
             padding-top: 15%;

               }
          .txt1 {
              display: -webkit-flex;
              display: flex;
              padding-top: 5%;
              margin-right: 5%;
              margin-left: 5%;
              font-size: 0.875rem;
              justify-content: center;
          }

         .logo2{
            float: left;

             margin-left: 10%;
             margin-top: 20%;
             margin-bottom: 5%;



         }


         .logo3{

             float: right;
             margin-right: 10%;
             margin-top: 20%;
             margin-bottom: 5%;

         }

